body {
  font-family: "Bruno Ace", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.weather-app {
  max-width: 400px;
  max-height: 800px;
  margin: 30px auto;
  padding: 1em;
  border: 1px solid #e3dec8;
  border-radius: 5px;
}
