body {
  font-family: "Lobster", cursive;
  text-align: center;
  background-color: #99beb7;
}

h1 {
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

#main-icon {
  padding: 10px;
  font-size: 50px;
}

#temperature {
  font-size: 40px;
}

#main-condition {
  font-size: 20px;
}

.units {
  position: relative;
  font-size: 16px;
  bottom: 19px;
}

.weather-app {
  max-width: 400px;
  max-height: 800px;
  margin: 30px auto;
  padding: 1em;
  border: 2px solid #ca3c4a;
  border-radius: 5px;
  background-color: #e3dec8;
}

.description {
  margin: 20px;
  padding-bottom: 10px;
}
.units .active {
  color: black;
  cursor: default;
}

.weather-forecast-date {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.weather-forecast-temperature {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
